* {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, #05aec5, #3437c5);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform:capitalize;
  height: 150px;
  width: 350px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  background-color: aliceblue;
}

.list-header {
  margin-bottom: 1rem;
  display:flex;
}

.list-header img{
  height: 2rem;
  margin-left:0.5rem;
}

.search-bar {
  margin-bottom: 1rem;
  
}

.search-bar input {
  width: 65%;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius:1.5rem;
  border:none;
  background-color:rgb(235, 236, 237);
  padding-left: 1rem;
}

.search-bar button {
  width: 25%;
  padding: 0.76rem;
  background-color: #05aec5;
  border: none;
  color: white;
  border-radius:1.5rem;
  cursor:pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 100px;
  width: 350px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 1rem;
}

.task1 img{
   height: 1.2rem;
}


/* utility class */

.hide{
  display:none;
}
